html {
    font-family: "Noto Sans", sans-serif;
    color: #4b494d;
    background: #fafafa;
    padding: 0%;
}

/* GLOBAL */
a:hover {
    color: coral;
	cursor: pointer;
}

li:hover .fa-folder:before {
	content: "\f07c";
}

li:hover .fa-square:before {
	content: "\f1b2";
}

li:hover .fa-circle:before{
	content:"\f192"
}

a {
	transform: scale(1.1, 1.1);	
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    margin: 5% 0;
    overflow: hidden;
    line-height: 2em;
    font-family: "Shadows Into light";
    text-align: center;
}

header h1 {
    font-size: 5em;
}

header h1,
header h3 {
    opacity: 1;
    animation: opacityAnimation 1.4s ease-in-out 0s;
}

del {
    color: coral;
}

footer {
    margin: 5% 0;
    overflow: hidden;
    line-height: 2em;
    text-align: center;
}	


footer li {
    border-top: dotted 2px lightgrey;
    display: inline-block;
    list-style-type: none;
    margin: 0 5%;
}

@keyframes squashStretch {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.0, 1.01);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes headerAnimation {
    0% {
		padding-bottom: 100;
    }
    100% {
		padding-top:0;
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* SIDEBAR */
aside {
    border-right: solid 2px lightgrey;
    padding: 0% 2%;
    margin: 0% 2%;
    vertical-align: top;
    text-align: right;
    display: inline-block;
    width: 8vw;
    animation: opacityAnimation 1.4s ease-in-out 0s;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

aside li {
    line-height: 2em;
}

a:hover, li:hover {
	font-size: 1.2em;
	/* transform: scale(1.1, 1.1);	 */
    color: coral;
}
aside i {
    display: inline;
    margin-left: 10%;
}

/* MAIN */
main {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 70vw;
    margin-right: 5%;
}

.post {
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1.4em 0;
    border: 2px solid lightgrey;
    border-radius: 5px;
    background: white;
    max-height: 500%;
    margin-bottom: 10px;
    animation: squashStretch 1.4s ease-in-out 0s;
}

.post h3 {
    overflow: hidden;
    margin: 0 10px;
}

.post p {
    overflow: hidden;
    margin: 5px 10px;
}

.post .post-image:hover {
    background: black;
}
.post .post-date {
    margin: 10px;
    color: grey;
}

.post img {
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    width: 100%;
	height: 100%;
}

.post img:hover {
    opacity: 0.6;
    animation: squashStretch 1.4s ease-in-out 0s;
}
#css-creator{
	color: grey;
	text-align: center;
	margin-left: 2%;
}
/* MOBILE */
@media (min-width: 200px) and (max-width: 600px) {
    html {
        /* overflow-x: hidden; */
        font-size: 1.5em;
        font-family: "Noto Sans", sans-serif;
        font-style: "regular";
        color: #4b494d;
        background: #fafafa;
    }

    /* HEADER */
    header {
        display: block;
        font-family: "Shadows Into light";
        text-align: center;
        animation: opacityAnimation 3s ease-in-out 0s;
    }

    header h1 {
        font-size: 2em;
    }

    header h1,
    header h3 {
        opacity: 1;
        animation: opacityAnimation 3s ease-in-out 0s;
    }

    footer {
        text-align: center;
        width: auto;
		margin-bottom: 0;
    }

    footer li {
        display: block;
    }

    @keyframes headerAnimation {
        0% {
            margin-top: 20%;
            margin-bottom: 0%;
            max-width: 80vw;
        }
        100% {
            height: 5vw;
            margin-bottom: 50%;
        }
    }

    /* SIDEBAR */
    aside {
        display: block;
        border-right: none;
        border-bottom: solid lightgrey 2px;
        text-align: center;
        width: 100%;
    }

    aside i {
        visibility: hidden;
    }

    /* MAIN */
    main {
        display: block;
        width: auto;
    }

    .post {
        display: block;
        margin: 10% 0 10% 10%;
    }
    .post img {
        width: 100%;
    }

    .post h3 {
        margin-top: 0 5px;
        font-family: inherit;
    }
}
